* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.slick-prev, .slick-next {
  color: #a1caff; /* Change this to your desired color */
}

.slick-prev:before, .slick-next:before {
  color: #a1caff; /* Change this to your desired color */
}

